.item {
    display: flex;
    flex-direction: column;
}
.image_holder {
    background-color: yellow;
    width: 100%;
    height: 80%;
    position: relative;
}
.door_wrapper {
    background-color: rgba(60,40,100,0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.door_wrapper:hover .door_side.left {
    transform: translate3d(-50%,0,0);
}
.door_wrapper:hover .door_side.right {
    transform: translate3d(50%,0,0);
}
.door_side {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.4s;
}
.door_side.left {
    left: -50%;
    background-color: mediumslateblue;
}
.door_side.right {
    right: -50%;
    background-color: salmon;
}
.contents_holder {
    background-color: whitesmoke;
    width: 100%;
    height: 20%;
}