.item_detail_breadcrumbs {
    display: flex;
    list-style: none;
    width: 30em;
    align-self: flex-start;
    padding-left: 10vw;
}
.item_detail_breadcrumb {
    margin-right: 0.5em;
    position:relative;
    font-size: 0.8rem;
    cursor: pointer;
    margin-right: 1em;
    padding-right: 2em;
}
.item_detail_breadcrumb_link:hover {
    text-decoration: underline;

}
.item_detail_breadcrumb::after {
    content: '>';
    position: absolute;
    top: 0;
    right: 0;
    width: 1em;
    height: 1em;
}
.item_detail_breadcrumb:last-child:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1em;
    height: 1em;
}