.item_detail_comments_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit,minmax(8em,1fr));
    list-style: none;
    gap: 1em;    
}
.item_detail_comment_write {
    padding: 0.4em;
    background-color: var(--mainColor);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}
.item_detail_comment_write:hover {
    opacity: 0.8;
}

.item_detail_comments_addLayout {
    background-color: var(--contrastBg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}
.item_detail_nocomment {
    width: 100%;
    background-color: var(--contrastBg);
    padding:1em;
    height: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width:568px) { 
    .item_detail_comments_container {
        grid-template-columns: 1fr;
        gap: 0.5em;
    }
    

}