.item_detail_comments_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    gap: 0.5em;    
    min-height: 40em;
}

.item_detail_comment {
    display: grid;
    grid-template-rows: 2em 2em 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 1em;
    border-bottom:1px solid gainsboro;
    border-right: 1px solid gainsboro;
}

.item_detail_comment > p {
    font-size: 0.95rem;
}
.item_detail_comment_header {
    display: flex;
    width: 100%;
}
.item_detail_comment_scores {
    display: flex;
}
.item_detail_comment_header_left,.item_detail_comment_header_right {
    width: 50%;
    vertical-align:middle;
}
.item_detail_comment_header h5, .item_detail_comment_header p{
    display: inline;
}
.item_detail_comment_header_right > p {
    font-size: 0.6rem;
}
.item_detail_nocomment {
    width: 100%;
    background-color: var(--contrastBg);
    padding:1em;
    height: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width:500px) { 
    .item_detail_comments_container {
        grid-template-columns: 1fr;
        gap: 0.5em;
    }
    

}