.item_detail_first {
    width: 85vw;
    height: 100%;
    display:grid;
    grid-template-columns: 33em 1fr;
    padding: 1em;
    margin-bottom: 5em;
    position: relative;
}

.item_detail_desc {
    width: 100%;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}
@media (min-width: 569px)and (max-width: 800px) {
    .item_detail_first {
        width: 100vw;
        grid-template-columns: 20em 1fr;
    }
    .item_detail_desc { 
        border-left: none;
        border-right: none;
    }
}
@media (min-width: 801px)and (max-width: 1200px) {
    .item_detail_first {
        width: 100vw;
        grid-template-columns: 27em 1fr;
    }
}

@media (max-width:568px) {  
    .item_detail_first {
        width: 95vw;
        grid-template-columns: 95vw;
        grid-template-rows: 1fr 1fr;
        padding: 0.1em;
    }
}