.item_detail_first {
    width: 75vw;
    height: 100%;
    display:grid;
    grid-template-columns: 28em 5em 1fr;
    padding: 1em;
    margin-bottom: 5em;
}
.item_detail_image {
    background-color: transparent;
    width: 28em;
    height: 28em;
    -webkit-user-drag: none;
}
.item_detail_image_container {
    width: 28em;
    height: 28em;
    position: relative;
    overflow: hidden;
}
.item_detail_image_wrapper {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    transition: 0.3s;
}
.item_detail_selector {
  
}
.item_detail_desc {
    border-left:1px solid #eee;
    border-right:1px solid #eee;
    width: 100%;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}
.item_detail_desc_summary {
    
}
.item_detail_desc_order {

}