#app_main .slider {
    width: var(--sliderWidth);
    height: 40em;
    padding: 1em;
}


#app_main .slider_item {
    width: var(--sliderWidth);
}

#app_main .items_carousel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:0.2em;
    width: 100%;
    height: 100%;
}
#app_main .item {
    width: 100%;
    height: 100%;
    background-color: maroon;
}

.slider_wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
    height: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
    box-shadow: 0.3em 0.18em 0.17em black, -0.1em -0.1em 0.1em grey;
}
.slider_list {
    list-style: none;
    display: flex;
    overflow: hidden;
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    padding:0;
    margin: 0;
}
.slider_item {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.slider .arrow_icon {
    cursor: pointer;
    position: absolute;
    top: calc(50% - 0.6em);
    background-color: black;
    color: white;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    z-index: 1;
}
.slider .arrow_icon.faded {
    display: none;
}
.slider .arrow_icon.left {
    left: 0;
    margin-left: 1em;
}
.slider .arrow_icon.right {
    right: 0;
    margin-right: 1em;
}

.slider_selectors {
    /* clear initial ul styles*/
    margin:0;
    padding:0;
    list-style: none;
    /* rest goes here */
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: white;
    width: 10rem;
    position: absolute;
    top: 50%;
    right: 5em;
    z-index: 1;
    /* box-shadow: 0.15em 0.08em 0.07em black, -0.15em -0.13em 0.04em whitesmoke; */
    transform: translateY(-50%);
}
.slider_item_selector {
    display: flex;
    margin-bottom: 0.2em;
    padding: 0.3em;
    position: relative;
    cursor: pointer;
    height: 4.5rem;
    width: 10rem;
}
.slider_item_selector::before {
    position: absolute;
    top: 0;
    left: 0;
    border: #0984e3 0.2em solid;
    width: 100%;
    height: 100%;
    content: '';
    opacity: 0;
}
.slider_item_selector:hover::before {
    opacity: 1;
}
.slider_item_selector.selected::before {
    opacity: 1;
 }
.slider_item_selector:last-child {
    margin-bottom: 0;
}
.slider_item_selector img{

    height: 4rem;
}
.slider_item_selector p {
    font-size: 0.5rem;
    user-select: none;
}


.slider_item_title {
    font-size: 4rem;
    transform: translate3d(0,-50%,0) scale3d(0.5,0.5,0);
    padding:0;
    margin: 0;
    text-shadow: grey 0.05em 0.05em 0.05em;
    transition: 0.3s;
    transition-delay: 200ms;
}
.slider_item_title.in {
    transform: translate3d(0,0,0)  scale3d(1,1,1);
}
.slider_item_content {
    background-color: white;
}
@media (max-width: 568px) {
    :root {
        --sliderWidth: 100vw;
    }
    #app_main .slider {
        padding: 0;
        height: 20em;
    }
    .slider_list {
        transition: none;
    }
    .slider_selectors {
        display: none;
    }
    .slider_wrapper {
        height: 300px;
        box-shadow: none;
    }
    .slider .arrow_icon {
        width: 1em;
        height: 1em;
    }
    .slider_item_title {
        font-size: 2rem;
        transition: none;
    }
}
@media (max-width: 1200px) {
    :root {
        --sliderWidth: 90vw;
    }
    #app_main .slider {
        padding: 0;
        height: 30em;
        margin: 2rem 0;
    }
    .slider_list {
        transition: none;
    }
    .slider_selectors {
        display: none;
    }
}