.checkbox_container {
    border: 1px solid gainsboro;
    max-width: 7em;
    max-height: 3em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1em;
}
.checkbox_img {
    width: 2em;
    margin-right: 0.3em;
}
.checkbox_input {
    display: none;
}
.checkbox_input:checked + label {
    border: 2px solid red;
}
.checkbox_label  {
    position: absolute;
    top: -0.1em;
    left: -0.1em;
    content: '';
    right: -0.1em;
    bottom: -0.1em;
    background-color: transparent;
}
.checkbox_content {
    font-size: 0.6rem;
    word-wrap: break-word;
    word-break: keep-all;
}