.main_nav_cart {
    width: 5em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_nav_cart_icon_holder {
    position: relative;
}
.main_nav_cart_icon {
    font-size: 2.5rem;
    color: var(--mainColor);
    cursor:pointer;
}
#main_nav_cart_indicator{
    opacity: 0;
    border-radius: 50%;
    background-color: red;
    color: white;
    width: 1.5em;
    height: 1.5em;
    font-size: 0.8rem;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main_nav_cart_indicator.on{
    opacity: 1;
}
@media (max-width:500px) { 
    .main_nav_cart { 
        width: 3em;
        height: 3em;
    }
    .main_nav_cart_icon {
        font-size: 1.8rem;
    }
}